<nz-layout class="layout">
  <app-header></app-header>
  <nz-content style="padding:0 10px;">
    <nz-breadcrumb style="margin:10px 0;">
      <nz-breadcrumb-item>
        <i class="anticon anticon-bars"></i>
        <a routerLink="/home">项目列表</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item><i class="anticon anticon-appstore-o"></i>配置分堆</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div style="background:#fff; padding: 14px; min-height: 500px;">
      <nz-table #nzTable [nzDataSource]="heapList" [nzPageSize]="10">
        <thead nz-thead>
        <tr>
          <th nz-th><span>序号</span></th>
          <th nz-th><span>分堆文本</span></th>
          <th nz-th><span>开放题</span></th>
        </tr>
        </thead>
        <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let heap of heapList;let i = index">
          <td nz-td>
            <a>{{ i+1 }}</a>
          </td>
          <td nz-td>
            <nz-input [(ngModel)]="heap.ClassifyQuestionText" [nzPlaceHolder]="'Basic usage'"></nz-input>
          </td>
          <td nz-td>
            <nz-input [(ngModel)]="heap.OpenText" [nzPlaceHolder]="'Basic usage'"></nz-input>
          </td>
        </tr>
        </tbody>
      </nz-table>
      <div style="width:60%;overflow: hidden">
        <button nz-button [nzType]="'default'" style="float:right" onclick="history.go(-1)">
          <i class="anticon anticon-backward"></i>
          <span>返回</span>
        </button>
        <button nz-button [nzType]="'primary'" style="float:right;margin-right:15px;" (click)="updateQuestion()">
          <i class="anticon anticon-save"></i>
          <span>保存</span>
        </button>
      </div>
    </div>
  </nz-content>
  <app-footer></app-footer>
</nz-layout>

