$primary:#00c2de;
$first:#f3f3f3;
.demo-chart {
  height: 400px;
  width: 400px;
}
.one-border{

    table {border-collapse:collapse;}  
    td{  
        border-left:0;  
        border-top:0;  
        border-right:1px solid #cccccc;  
        border-bottom:1px solid #cccccc;  
        height:25px;  
        padding:0 12px 0 12px;  
        border-collapse:collapse;  
    }  
}
.chart{
    display: inherit;
    width:460px;
    height:421px;
    border:1px solid $primary;
    margin:2px;
    .title{
        background:$primary;
        color:white;
        text-align: center;
    }
    .summary{
        display: flex;
        justify-content: center;
    }
    .graph{
        display: flex;
        justify-content: center;
    }
   .card-table{
       font-size:10px;
       color:#000000;
       width:386px;
       min-width: 386px;
       height: 60px;
       tr{
           height: 15px;

       }
       td{
           padding:0;
           width:64px;
       }
   }
}
       .card-body{
           padding:0px;
           padding-top:20px;
           display: inline-block;
       }
    .summary-table{
        width: 694px;
        tr{
            height: 30px;
        }
        .header{
            background:$primary;
            color:white;
        }
        .body{
            background:$first;
        }
    }
thead{
    font-weight: bold;
    font-size:14px!important;
}
tbody{
    td{
        font-size:12px;
    }
}
.no-style{
    color:inherit!important;
   
}