
<nz-tabset class="tabs report" [(nzSelectedIndex)]="tabSelected2">
    <nz-tab [nzDisabled]="dataDisabled">
        <ng-template #nzTabHeading>
          数据报告
        </ng-template>
        <table *ngIf="cardInfo" class="table-default df">
            <thead>
              <tr style="background:#f2f2f2">
                <td colspan="2"></td>
                <td [attr.colspan]="(cardInfo.header.length-2)/cardInfo?.cards.length" *ngFor="let card of cardInfo?.cards">{{card}}</td>
              </tr>
            </thead>
            <tbody class="table-striped" *ngFor="let group of cardInfo?.groups;let k = index">
            <tr *ngIf="k==0">
              <td *ngFor="let header of cardInfo.header">
                <a class="no-style" [title]="split2(header)">{{split(header)}}</a>
              </td>
            </tr>
      
            <tr *ngFor="let device of group.device; let i = index">
              
              <td> 
      {{device.deviceId}}
</td>
<td>
  <a class="my-a"  (click)="open(card.url)" *ngFor="let card of device.cards">
      {{card.detailName}}
    </a>

 </td>
              <td *ngFor="let angle of device.angles">{{angle}}</td>
            </tr>
            </tbody>
          </table>
    </nz-tab>
<nz-tab [nzDisabled]="chartDisabled">
        <ng-template #nzTabHeading>
          图表报告
        </ng-template>
        <div *ngIf="cardChart">
        <table class="summary-table">
          <tr class="header"><td>概念卡名称</td><td>总样本</td><td>回收样本</td><td>未参与</td></tr>
          <tr class="body"><td>{{cardChart.cardName}}</td><td>{{cardChart.allCount}}</td><td>{{cardChart.recyCount}}</td><td>{{cardChart.notInvolved}}</td></tr>
        </table>
        <div class="card-body">

         <div *ngFor="let card of (cardChart.answers)" class="chart">
           <div class="title">
              {{card.Name}}
           </div>
           <div class="body">
            <div class="summary">
               <table class="card-table table-default df ng-star-inserted">
                  <tr class="header">
                    <td>总分数</td>
                    <td colspan="5">{{card.SumCount}}</td>
                    
                  </tr>
                  <tr>
                    
                    <td>平均分</td>
                    <td colspan="5">{{Number(card.Average) | number:'1.1-1'}}</td>
                  </tr>
                  <tr>
                    <td>分值</td>
                    <td *ngFor="let row of card.Scores">
                      {{row.Score}}
                    </td>
                  </tr>
<tr>
                    <td>次数</td>
                    <td *ngFor="let row of card.Scores">
                      {{row.Count}}
                    </td>
                  </tr>
<tr>
                    <td>百分比</td>
                    <td *ngFor="let row of card.Scores">
                      {{row.Percent}}%
                    </td>
                  </tr>
               </table>
            </div>
            <div class="graph">
                <div *ngIf="card.Scores" style="width:400px;height:315px;" echarts [options]="mapToChart(card.Scores)" ></div>
            </div>
           </div>
         </div>
         </div>
        </div>
    </nz-tab>
</nz-tabset>
<!--对话框-->
<nz-modal [nzVisible]="showImgPreview" [nzTitle]="'图片'" [nzContent]="modalContent1" (nzOnCancel)="handleCancelImg($event)" (nzOnOk)="handleCancelImg($event)" [nzConfirmLoading]="false">
    <ng-template #modalContent1>
     <img style="width:100%" [src]="imgPreview">
    </ng-template>
 </nz-modal>