<nz-layout class="layout">
  <app-header></app-header>
  <nz-content style="padding:0 10px;">
    <nz-breadcrumb style="margin:10px 0;">
      <nz-breadcrumb-item>
        <i class="anticon anticon-bars"></i>
        <a routerLink="/home">项目列表</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item><i class="anticon anticon-team"></i>座谈会组</nz-breadcrumb-item>
    </nz-breadcrumb>
    <!--表格-->
    <div style="background:#fff; padding: 14px; min-height: 500px;">
      <div style="width:100%;overflow: hidden">
        <button nz-button [nzType]="'default'" style="float:right" onclick="history.go(-1)">
          <i class="anticon anticon-backward"></i>
          <span>返回</span>
        </button>
        <button nz-button [nzType]="'primary'" style="float:right;margin-right:10px;" (click)="showEditGroup(true)">
          <span>+添加座谈会组</span>
        </button>
      </div>
      <nz-table #nzTable [nzDataSource]="groupList" [nzPageSize]="10">
        <thead nz-thead>
        <tr>
          <th nz-th>
            <span>序号</span>
          </th>
          <th nz-th>
            <span>座谈会组名称</span>
          </th>
          <th nz-th>
            <span>每组人数</span>
          </th>
          <th nz-th>
            <span>概念卡初始顺序</span>
          </th>
          <th nz-th>
            <span>操作</span>
          </th>
        </tr>
        </thead>
        <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let group of groupList;let i = index">
          <td nz-td>
            <a>{{++i}}</a>
          </td>
          <td nz-td>{{group.GroupName}}</td>
          <td nz-td>{{group.GroupPersonCount}}</td>
          <td nz-td>{{group.CardOrder}}</td>
          <td nz-td class="btn-group">
            <button nz-button [nzType]="'default'" [nzGhost]="true" (click)="showEditGroup(group)" >
              <i class="anticon anticon-edit"></i>
              <span>编辑</span>
            </button>
            <button nz-button [nzType]="'default'" [nzGhost]="true" (click)="showConfirm(group)">
              <i class="anticon anticon-delete"></i>
              <span>删除</span>
            </button>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
    <nz-modal [nzVisible]="isVisible" [nzTitle]="'添加/配置座谈会组'" [nzContent]="modalContent" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzConfirmLoading]="false">
      <ng-template #modalContent>
        <table class="table-form">
          <tr>
            <td>座谈会组名称</td>
            <td>
              <nz-input [(ngModel)]="group.GroupName" [nzPlaceHolder]="'名称'"></nz-input>
            </td>
          </tr>
          <tr>
            <td>每组人数</td>
            <td>
              <nz-input [(ngModel)]="group.GroupPersonCount" [nzPlaceHolder]="'人数'" [nzType]="'number'"></nz-input>
            </td>
          </tr>
          <tr>
            <td>概念卡出示顺序</td>
            <td>
              <nz-input [(ngModel)]="group.CardOrder" [nzPlaceHolder]="'order'"></nz-input>
            </td>
          </tr>
        </table>
      </ng-template>
    </nz-modal>
  </nz-content>
  <app-footer></app-footer>
</nz-layout>
