$m-primary:#00c2de;
$table-font-color:#333333;
.table-striped>tbody:first-child{
    font-family: "微软雅黑";
    font-weight: bold;
    font-size:14px;
}
nz-pagination{
    .ant-pagination-item {
        background: red!important;
    }
}
thead{
    font-size: 14px;
    color: #000;
    font-weight: bold;
    background: #f2f2f2;
}
tbody{
    font-size:12px;
    font-weight: normal;
}
tr{
    border:1px solid #e2e2e2;
}
.table-striped{
    tr{
        border:1px solid #e2e2e2;
    }
    tr:nth-child(2n){
        background:#f2f2f2;
    }
}
.table-striped-inver{
    tr{
        border:1px solid #e2e2e2;
    }
    tr:nth-child(2n+1){
        background:#f2f2f2;
    }
}
.df{
    td{
        min-width: 70px;
    }
}
.inner-label{
    font-size: 24px;
    margin-left:18px;
}
.i-xxx{
    line-height: 64px;
    display: inline-block;
    margin-left: 13px;
    font-size: 16px;
    font-weight: bold;
}
nz-tab-body{
    overflow: auto!important;
}
.ty{
    tr {
        td:nth-of-type(2){
          width:1228px;
        }
    }
}
td{
    color:#333333;
}
.my-a{
    text-decoration: underline;
    color:#333333;
}
.ty {
    tbody:nth-child(2n+1)  {
        background-color: #f2f2f2;
    }
} 
.reset{
    background: #666666!important;
    color:white;
}
td{
    min-width:176px;
}
.cluster{
    td{
        min-width:32px;
    }
}
td{
    a{
        margin:0.5em;
    }
}
        .user{
            img{
                width:40px;
                height:40px;
                border-radius: 20px;
                border: 1px solid #c1b7b7;
            }
        }
.msg-content{
    text-align: left;

    max-width:532px;
    img{
        width:30px;
        height:30px;
    }
}

.body{
    font-family: '微软雅黑';
    .title{
        font-size:24px;
        height:50px;
        line-height: 50px;
        background-color:#393d49;
        color:white;
        padding-left:15px;
    }
    nz-tabset{
        margin:26px;
        button{
            background-color:$m-primary;
            font-size: 14px;
            border:none;
            border-radius: 0;
            width:80px;
            height:30px;
        }
        .header{
            padding:16px;
            display: flex;
            align-items:baseline;
            justify-content: space-between;
            padding-right:69px;
            label{
                margin-right:45px;
            }
            nz-input{
                width:280px;
            }
        }
        .tab2{
            padding: 20px;
            &.table{
                background:white!important;
              label{
                  color:$table-font-color;
                  font-size:16px;
                  line-height: 40px;
              }
    
            }
        }
        .quality{
            >div{
                margin-top:10px;
                background:#f8f6f7;
                border:1px solid #e2e2e2;
                >div{
                    background:white;
                }
                        .content{
                            display: flex;
                            background:#f8f6f7!important;
                            >div{
                                min-height:462px;
                                overflow-y:auto;
                                overflow-x: hidden;
                                background:white;
                                margin:10px;
                                padding:32px;
                                label{
                                    color:$table-font-color;
                                    font-weight: bold;
                                    font-size: 16px;
                                }
                                &.comments{
                                 width:400px;
                                 overflow-y: auto;
                                    .msg{
                                        height: 80px;
                                        display: flex;
                                        align-items: center;
                                        font-size:13px;
                                       
                                        span{
                                            margin-left:1em;
                                        }
                                        .name{
                                            width:50px;
                                        }

                                    }
                                }
                                &.cloud{
                                   width:505px;
                                }
                                &.cluster{
                                  width:36%;
                                }
                                &.cluster{
                                    .inner-td{
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                    }
                                        .rectangle{
                                            height:40px;
                                            width:50px;
                                            background:#f8f6f7;
                                            margin-left:1em;
                                            &.right{
                                                margin-right:1em;
                                            }
                                            .pos{
                                                height:40px;                                                
                                                background-color:#ff983c;
                                            }
                                            .neg{
                                                height:40px;
                                                background-color:#61aefe;
                                            }
                                        }
                                }
                            }
                        }
            }
        }

    }
}
.table-form{
    td{
        text-align: left;
    }
}
#container{
    height:500px;
}
.message{
    padding:0.2em 2em;
}
.row{
    .right{
       
            float: right;
            color:white;
    }
}
.header-3{
    margin:2em;
    text-align: left;
    
    nz-input{
        width:280px;
    }
    button{
        margin-left:2em;
    }
    nz-select{
        margin:0 1em;
    }
}
.header-2{
    margin:0.5em;
    text-align: right;
    nz-input{
        width:280px;
    }
}
.detail-img{
        width:100px;
        height: 100px;
        border-radius: 50px;
}
