<div class="body">

<div class="title">
  MobileFGD
</div>
<nz-tabset [(nzSelectedIndex)]="parms.typeindex">
  <nz-tab>
      <ng-template #nzTabHeading>
         人员报告
        </ng-template>
        <label class="inner-label">人员报告</label>
        <div>
          <div class="header">
            <div>
              <label>人员列表</label>
              <nz-select style="width: 145px;" [(ngModel)]="parms.groupid" (ngModelChange)="selectChange()" [nzPlaceHolder]="'选择被访者'" nzAllowClear>
                <nz-option [nzLabel]="'全部组人员'" [nzValue]="'-1'"></nz-option>
                <nz-option
                *ngFor="let group of (groups | async)"
                [nzLabel]="group.sampNm"
                [nzValue]="group.id">
              </nz-option>
            </nz-select>
          </div>
          <div>
            
            <nz-input class="search" [(ngModel)]='searchKey' [nzPlaceHolder]="'请输入...'"></nz-input>
            <button (click)="search(searchKey)" nz-button [nzType]="'primary'">
              <span>搜索</span>
            </button>
          </div>
        </div>
            <nz-table #nzTable1 [nzDataSource]="_dataSet"  >
              <thead nz-thead>
                      <tr>
                        <th nz-th><span>头像</span></th>
                        <th nz-th><span>微信昵称</span></th>
                        <th nz-th><span>姓名</span></th>
                        <th nz-th><span>性别</span></th>
                        <th nz-th><span>城市</span></th>
                        <th nz-th><span>年龄</span></th>
                        <th nz-th><span>操作</span></th>
                      </tr>
                    </thead>
                    <tbody class="table-striped" nz-tbody>
                     <tr *ngIf="_isSpinning">
                        <td colspan="7">
                       <nz-spin [nzSpinning]="_isSpinning">
                      </nz-spin>
                    </td>
                    </tr>  
                      <tr nz-tbody-tr *ngFor="let data of nzTable1.data">
             
                        <td class="user"  nz-td>
                         <img [src]="data.map.userIcon"> 
                        </td>
                        <td  nz-td>{{data.map.NickName}}</td>
                        <td  nz-td>{{data.map.Name}}</td>
                        <td  nz-td>{{data.map.Gender}}</td>
                        <td  nz-td>{{data.map.City}}</td>
                        <td  nz-td>{{data.map.Age}}</td>
                        <td>
                          <button nz-button [nzType]="'primary'" (click)="showPeopleDetail(data)"> 
                            <span>查看详情</span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </nz-table>
            
        </div>
  </nz-tab>
  <nz-tab>
      <ng-template #nzTabHeading>
        定性报告
       </ng-template>
        <label class="inner-label">定性报告</label>
        <div class="quality">
          <div class="header">
            <div>
   
              <nz-select style="width: 120px;" [(ngModel)]="parms.groupid" (ngModelChange)="groupChange(parms)" [nzPlaceHolder]="'聊天组'" nzAllowClear>
                <nz-option
                *ngFor="let group of (groups | async)"
                [nzLabel]="group.sampNm"
                [nzValue]="group.id">
              </nz-option>
            </nz-select>
  
            <nz-select style="width: 330px;" [(ngModel)]="parms.topicid" [nzPlaceHolder]="'选择话题'" nzAllowClear>
                <nz-option [nzLabel]="'全部话题'" [nzValue]="'-1'"></nz-option>
  
              <nz-option
              *ngFor="let topic of (topics | async)"
              [nzLabel]="topic.tpcNm"
              [nzValue]="topic.id">
            </nz-option>
          </nz-select>
        </div>
        <div>

          <button class="reset" nz-button (click)="reset()" >
            <span>重置</span>
          </button>
          <button nz-button (click)="updateAll(parms)" [nzType]="'primary'">
            <span>确认</span>
          </button>
          
          <button  nz-button (click)="downloadZip(parms)" [nzType]="'primary'">
            <span>下载</span>
          </button>
        </div>
      </div>
          <nz-spin *ngIf="_isSpinning2" [nzSpinning]="_isSpinning2">
              <nz-alert [nzType]="'info'" [nzMessage]="''" [nzDescription]="''">
              </nz-alert>
            </nz-spin>
      <div>
        <label class="i-xxx">词云报告</label>
        <div  class="message">{{AIData.Message}}</div>
          <div class="content">
            <div class="comments">
               <label>用户评论:</label>
               <nz-table *ngIf="AIData?.data?.clusters" [nzPageSize]="5" #nzTable4 [nzDataSource]="AIData?.data?.comments">
              
                      <tbody  nz-tbody>
                        <tr nz-tbody-tr *ngFor="let data of nzTable4.data">
                          <td  nz-td>
                            <div class="msg">
                              <span class="user">
                                <img [src]="data.userIcon?data.userIcon:'/assets/imgs/user-icon.png'">
                            </span>
                            <span class="name">
                                {{data.userName}}:
                            </span>
                            <span>
                             <div class="msg-content">{{data.comment}}</div>
                            </span>
                            </div>
                          </td>
                        </tr>
                      </tbody>
               </nz-table>
              <!-- <div  class="msg" *ngFor="let message of (AIData?.data?.comments)">
                <span class="user">
                    <img [src]="message.userIcon?message.userIcon:'/assets/imgs/user-icon.png'">
                </span>
                <span class="name">
                    {{message.userName}}:
                </span>
                <span>
                 <div class="msg-content">{{message.comment}}</div>
                </span>
              </div> -->

            </div>
            <div class="cloud">
              <div class="row">
                <label>词云图片:</label>
              </div>
                <div id="container"></div>
            </div>
            <div class="cluster">
                <label>观点聚类:</label>
                <nz-table *ngIf="AIData?.data?.clusters" [nzPageSize]="5" #nzTable3 [nzDataSource]="AIData?.data?.clusters">
                    <thead nz-thead>
                            <tr>
                              <th nz-th><span>正向评价(%)</span></th>
                              <th nz-th><span>评价类别</span></th>
                              <th nz-th><span>负向评价(%)</span></th>
                            </tr>
                          </thead>
                          <tbody  nz-tbody>
                            <tr nz-tbody-tr *ngFor="let data of nzTable3.data">
                              <td  nz-td>
                                <div class="inner-td">
                                  <span>
                                    {{data.positive}}
                                  </span>
                                  <div class="rectangle">
                                    <div class="pos" [style.width]="data.positive+'%'"></div>
                                  </div>
                                </div>
                              </td>
                              <td  nz-td>
                                  <div class="inner-td">
                                      <span>
                                        {{data.type}}
                                      </span>
                                    </div>
                              </td>
                              <td  nz-td>
                                <div class="inner-td">
                                  <div class="rectangle right">
                                    <div class="neg" [style.width]="data.negative+'%'"></div>
                                  </div>
                                          <span>
                                            {{data.negative}}
                                          </span>
                                  </div>
                              </td>
                            </tr>
                          </tbody>
                  </nz-table>
            </div>
        </div> </div> 
          <div class="tab2 table">  
               <p>聊天记录</p>
               <div class="header-2">
                  <nz-select style="width: 145px;" [(ngModel)]="searchType" (ngModelChange)="selectChange()" [nzPlaceHolder]="'选择被访者'" nzAllowClear>
                    <nz-option [nzLabel]="'聊天内容'" [nzValue]="1"></nz-option>
                    <nz-option [nzLabel]="'姓名'" [nzValue]="2"></nz-option>
                  </nz-select>
                  <nz-input class="search" [(ngModel)]='searchKey2' [nzPlaceHolder]="'请输入...'"></nz-input>
                  <button (click)="search2(searchKey2,searchType)" nz-button [nzType]="'primary'">
                    <span>搜索</span>
                  </button>
                </div>
            <nz-table #nzTable [nzDataSource]="messagesSet" >
              <thead nz-thead>
                <tr>
                  <th nz-th><span>头像</span></th>
                  <th nz-th><span>发信人</span></th>
                  <th nz-th><span>时间</span></th>
                  <th nz-th><span>聊天内容</span></th>
                </tr>
              </thead>
              <tbody class="table-striped" nz-tbody>
                <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                  <td class="user" nz-td><img [src]="data.usericon?data.usericon:'/assets/imgs/user-icon.png'"></td>
                  <td  nz-td>{{data.username}}({{data.nckNm}})</td>
                  <td  nz-td>{{data.crtTm}}</td>
                  <td  class="msg-content" nz-td>
                    <!-- <div class="msg-content" *ngIf="data.msgCntnt.indexOf('http')>-1">
                        <a [href]="data.msgCntnt" target="_blank">
                            <img src="/assets/imgs/url.png"></a>
                    </div>
                    <div class="msg-content" *ngIf="data.msgCntnt.indexOf('http')==-1">
                      {{data.msgCntnt}}
                    </div> -->
                    <div class="msg-content"  *ngIf="data.msgCntnt.url">
                       <a *ngIf="data.msgCntnt.fordownload;else foropen" target="_blank" [href]="data.msgCntnt.url" > <img [src]="data.msgCntnt.img">{{data.msgCntnt.title}}</a>
                       <ng-template #foropen>
                         <a (click)="open(data.msgCntnt)" > <img [src]="data.msgCntnt.img">{{data.msgCntnt.title}}</a>
                       </ng-template>
                    </div>
                    <div class="msg-content" *ngIf="!data.msgCntnt.url">{{data.msgCntnt}}</div>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
  </nz-tab>
  <nz-tab>
      <ng-template #nzTabHeading>
        定量报告
        </ng-template>
        <label class="inner-label">定量报告</label>
        <div class="header-3">
          选择项目:
          <nz-select style="width: 120px; " #project (ngModelChange)="projectChange(parms.choosedConceptPrjId_tmp)" [(ngModel)]="parms.choosedConceptPrjId_tmp" [nzPlaceHolder]="'请选择项目'" nzAllowClear>
            <nz-option
            *ngFor="let project of (exProjects | async)"
            [nzLabel]="project.ttlCntnt"
            [nzValue]="project.qstnrId">
          </nz-option>
        </nz-select> 
        <nz-select style="width: 120px; " (ngModelChange)="changeTab(tabSelected2_tmp)" [(ngModel)]="tabSelected2_tmp" [nzPlaceHolder]="'选择模块'" nzAllowClear>
          <nz-option
          *ngFor="let module of (exModules )"
          [nzLabel]="module.Value"
          [nzValue]="module.Key">
        </nz-option>
      </nz-select> 
      选择组：
      <nz-select style="width: 120px;" [(ngModel)]="parms.groupid" [nzPlaceHolder]="'请选择组'" nzAllowClear>
        <nz-option [nzLabel]="'全部聊天组'" [nzValue]="'-1'"></nz-option>
        <nz-option
        *ngFor="let group of (groups |  async)"
        [nzLabel]="group.sampNm"
        [nzValue]="group.id">
      </nz-option>
    </nz-select>
    <button nz-button (click)="updateReport(parms)" [nzType]="'primary'">
      <span>确认</span>
    </button>
  </div>
          
                  <nz-spin [nzSpinning]="isSpinning3">
                  
        <div  class="tabs report">
          <div class="tab" *ngIf="tabSelected2!=3 && tabSelected2!=4">
            <app-card [cardId]="tabSelected2" [cardInfo]="cardInfo" [externalPjId]="parms.externalpjid"></app-card>
          </div>
            <div class="tab" *ngIf="tabSelected2==1">
                <label>
                  涂鸦报告
                </label>
                <span class="tab-item">
                  <table class="table-default table-striped ty">
                    <thead>
                      <tr>
                        <td *ngFor="let header of paintingReport.header">{{header}}</td>
                      </tr>
                    </thead>
                    <tbody *ngIf="paintingReport.groups[0]">
                      <tr *ngFor="let painting of paintingReport.groups[0].device; let i = index">
                        <!-- <td *ngIf="i==0" attr.rowspan="{{group.device.length}}">{{group.name}}</td> -->
                        <td>
                        {{painting.deviceId}}
                        </td>
                        <td>
                          <a class="my-a"  (click)="open(card.url)" *ngFor="let card of painting.cards">
                            {{card.detailName}}</a>
                          </td>
                      </tr>
                    </tbody>
                  </table>
                </span>
              </div>
            <div class="tab" *ngIf="tabSelected2==2">
              <label>
                打分报告
              </label>
              <table *ngIf="scoreReport.header" class="table-default df">
                <thead>
                  <tr style="background:#f2f2f2">
                    <td colspan="2"></td>
                    <td [attr.colspan]="(scoreReport.header.length-2)/scoreReport?.cards.length" *ngFor="let card of scoreReport?.cards">{{card}}</td>
                  </tr>
                </thead>
                <tbody class="table-striped" *ngFor="let group of scoreReport?.groups;let k = index">
                <tr *ngIf="k==0">
                  <td *ngFor="let header of scoreReport.header">{{header}}</td>
                </tr>
                <tr *ngFor="let device of group.device; let i = index">
                  <td *ngIf="i==0" attr.rowspan="{{group.device.length}}">{{group.name}}</td>
                  <td> 
          {{device.deviceId}}
    </td>
                  <td *ngFor="let angle of device.angles">{{angle}}</td>
                </tr>
                </tbody>
              </table>
            </div>
           
              <div class="tab" *ngIf="tabSelected2==3">
            <div class="tab">
              排序报告
           </div>
            <span class="tab-item">
                <table *ngIf="orderReport" class="table-default table-striped">
                <thead>
                  <tr>
                   <td></td>
                    <td colspan="2"  *ngFor="let wd of getDem(orderReport.header);">{{wd}}</td>
                  </tr>
                </thead>
                  <tbody>
                    <tr >
                       <td *ngFor="let header of orderReport.header">{{header}}</td>
                    </tr>
                    <tr *ngFor="let device of orderReport.groups[0]?.device; let i = index">
                     
                      <td>
                             {{device.deviceId}}
                        </td>
                      <td *ngFor="let order of device.orders">{{order}}</td>
                    </tr>
                  </tbody>
                </table>
              </span>
            </div>
            <div class="tab" *ngIf="tabSelected2==4">
              <div class="tab">
                分堆报告
              </div>
              <span class="tab-item">
                <table class="table-default table-striped ty">
                  <thead>
                    <tr>
                       <td *ngFor="let header of classifyReport.header">{{header}}</td>
                    </tr>
                  </thead>
                  <tbody *ngFor="let group of classifyReport.groups;let k = index">
                    <tr *ngFor="let device of group.device; let i = index">
                      <td>
                       {{device.deviceId}}
                       </td>
                      <td *ngFor="let dui of device.duis">{{dui}}</td>
                    </tr>
                  </tbody>
                </table>
              </span>
            </div>
          </div>
        </nz-spin>

  </nz-tab>
</nz-tabset>
</div>
<!--对话框-->
<nz-modal [nzVisible]="isPeople" [nzTitle]="'查看详情'" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleCancel($event)" [nzConfirmLoading]="false">
  <ng-template #modalContent>
    <table class="table-form">
      <tr *ngFor="let data of tempDetail.pairs">
        <td style="text-align:left!important;color:rgb(153,153,153);padding:0 9em 0 0;word-wrap: break-word;">{{data.Key}}</td>
        <td style="text-align:left!important;">
        <div *ngIf="data.Key=='微信头像';else normal"><img class="detail-img" [src]="data.Value"></div> 
        <ng-template #normal>{{data.Value}}</ng-template>
        </td>
      </tr>
     
    </table>
  </ng-template>
</nz-modal>
<!--对话框-->
<nz-modal [nzVisible]="showImgPreview" [nzTitle]="'图片'" [nzContent]="modalContent1" (nzOnCancel)="handleCancelImg($event)" (nzOnOk)="handleCancelImg($event)" [nzConfirmLoading]="false">
    <ng-template #modalContent1>
     <img style="width:100%" [src]="imgPreview">
    </ng-template>
 </nz-modal>
