<nz-layout class="layout">
  <app-header></app-header>
  <nz-content style="padding:0 10px;">
    <nz-breadcrumb style="margin:10px 0;">
      <nz-breadcrumb-item>
        <i class="anticon anticon-bars"></i>
        <a routerLink="/home">项目列表</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item><i class="anticon anticon-like"></i>打分/表情包</nz-breadcrumb-item>
    </nz-breadcrumb>
    <!--表格-->
    <div style="background:#fff; padding: 14px; min-height: 500px;">
      <nz-tabset class="tabs">
        <nz-tab>
          <ng-template #nzTabHeading>
            <i class="anticon anticon-check-square-o"></i>
            打分题设置
          </ng-template>
          <span class="tab-item">
            <label nz-checkbox [(ngModel)]="grade.IsShowGrading" (ngModelChange)="_console($event)">
                  <span>是否显示打分题</span>
            </label>
          </span>
          <span class="tab-item">
            <label nz-checkbox [(ngModel)]="grade.IsShowOpenQuestion" (ngModelChange)="_console($event)">
                  <span>是否显示开放题</span>
            </label>
          </span>
          <span class="tab-item">
            开放题：<input type="text" [(ngModel)]="grade.OpenQuestion">
          </span>
          <table class="table-default">
            <tr>
              <td>序号</td>
              <td>打分题问题文本</td>
            </tr>
            <tr *ngFor="let grade of grade.GradingQuestionList;let i = index">
              <td>打分题：{{++i+1}}</td>
              <td>
                <nz-input [(ngModel)]="grade.QuestionText" [nzPlaceHolder]="'Basic usage'" (ngModelChange)="_console($event)"></nz-input>
              </td>
            </tr>
          </table>
          <div style="width:60%;overflow: hidden">
            <button nz-button [nzType]="'default'" style="float:right" onclick="history.go(-1)">
              <i class="anticon anticon-backward"></i>
              <span>返回</span>
            </button>
            <button nz-button [nzType]="'primary'" style="float:right;margin-right:15px;" (click)="setGrad()">
              <i class="anticon anticon-save"></i>
              <span>保存</span>
            </button>
          </div>
        </nz-tab>
        <nz-tab>
          <ng-template #nzTabHeading>
            <i class="anticon anticon-smile-o"></i>
            表情包设置
          </ng-template>
          <span class="tab-item">
            <label nz-checkbox [(ngModel)]="emotion.IsShowEmoticon" (ngModelChange)="_console($event)">
                  <span>是否显示表情包</span>
            </label>
          </span>
          <span class="tab-item">
            表情包维度：<input type="text"[(ngModel)]="emotion.EmoticonDesc">
          </span>
          <table class="table-default">
            <tr>
              <td>序号</td>
              <td>是否显示</td>
              <td>分值</td>
              <td>表情包预览</td>
              <td>表情包描述</td>
            </tr>
            <tr *ngFor="let emoji of emotion.EmoticonQuestionOptionList;let i = index">
              <td>{{++i+1}}</td>
              <td>
                <label nz-checkbox [(ngModel)]="emoji?.EmoticonQuestionOptionItem.IsShow" (ngModelChange)="_console($event)">
                </label>
              </td>
              <td>
                <nz-input  [(ngModel)]="emoji?.EmoticonQuestionOptionItem.Score" [nzPlaceHolder]="'Basic usage'" (ngModelChange)="_console($event)"></nz-input>
              </td>
              <td>
                <img [src]="emoji.EmoticonUrl" alt="表情包图片" style="max-width: 50px;">
              </td>
              <td>
                <nz-input  [(ngModel)]="emoji?.EmoticonQuestionOptionItem.IconDesc" [nzPlaceHolder]="'Basic usage'" (ngModelChange)="_console($event)"></nz-input>
              </td>
            </tr>
          </table>
          <div style="width:60%;overflow: hidden">
            <button nz-button [nzType]="'default'" style="float:right" onclick="history.go(-1)">
              <i class="anticon anticon-backward"></i>
              <span>返回</span>
            </button>
            <button nz-button [nzType]="'primary'" style="float:right;margin-right:15px;" (click)="setEmotion()">
              <i class="anticon anticon-save"></i>
              <span>保存</span>
            </button>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>
  </nz-content>
  <app-footer></app-footer>
</nz-layout>
