.table-form{
  tr{
    td:nth-child(2){
      width:300px;
    }
  }
  td{
    min-width:120px;
    text-align: right;
    margin-right:15px;
    margin-bottom: 10px;
  }
}
.btn-group{
  text-align: right;
}
.nav-a{
  line-height: 2em;
  margin:0.2em;
}