<nz-layout class="layout">
  <app-header></app-header>
  <nz-content style="padding:0 10px;">
    <nz-breadcrumb style="margin:10px 0;">
      <nz-breadcrumb-item><i class="anticon anticon-bars"></i>项目列表</nz-breadcrumb-item>
    </nz-breadcrumb>
    <!--表格-->
    <div style="background:#fff; padding: 14px; min-height: 500px;">
      <nz-table #nzTable  [nzDataSource]="projectList" [nzPageSize]="10">
        <thead nz-thead>
        <tr>
          <th nz-th>
            <span>项目ID</span>
          </th>
          <th nz-th>
              <span>是否需要涂鸦</span>
            </th>
          <th nz-th>
            <span>项目名称</span>
          </th>
          <th nz-th>
              <span>模块顺序</span>
            </th>
          <th nz-th>
            <span>创建时间</span>
          </th>
          <th nz-th>
            <span>操作</span>
            <button nz-button [nzType]="'primary'" style="float:right" (click)="showModal(null)">
              <span>+创建项目</span>
            </button>
          </th>
        </tr>
        </thead>
        <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let data of projectList">
          <td nz-td>
            <a>{{data.ProjectId}}</a>
          </td>
                  <td nz-td>
                      <a>{{data.IsNeedDoodled}}</a>
                    </td>
          <td nz-td>{{data.ProjectName}}</td>
          <td nz-td>{{data.ModuleOrder}}</td>
          <td nz-td>{{data.CreateDate}}</td>
          <td nz-td class="btn-group">
            
            <button nz-button [nzType]="'default'" [nzGhost]="true" [routerLink]="['concept-card',data.ProjectAutoId]">
              <i class="anticon anticon-credit-card"></i>
              <span>配置概念卡</span>
            </button>
            <button nz-button [nzType]="'default'" [nzGhost]="true" [routerLink]="['forum-group',data.ProjectAutoId]">
              <i class="anticon anticon-team"></i>
              <span>配置座谈会组</span>
            </button>
            <button nz-button [nzType]="'default'" [nzGhost]="true" [routerLink]="['score-and-emotion',data.ProjectAutoId]">
              <i class="anticon anticon-smile-o"></i>
              <span>配置打分/表情包</span>
            </button>
            <button nz-button [nzType]="'default'" [nzGhost]="true" [routerLink]="['config-sort',data.ProjectAutoId]">
              <i class="anticon anticon-switcher"></i>
              <span>配置排序</span>
            </button>
            <button nz-button [nzType]="'default'" [nzGhost]="true" [routerLink]="['config-heap',data.ProjectAutoId]">
              <i class="anticon anticon-appstore-o"></i>
              <span>配置分堆</span>
            </button>
            <button nz-button [nzType]="'default'" [nzGhost]="true" [routerLink]="['report',data.ProjectAutoId]">
              <i class="anticon anticon-bar-chart"></i>
              <span>查看报告</span>
            </button>
            <button nz-button [nzType]="'default'" [nzGhost]="true" (click)="showModal(data)">
              <i class="anticon anticon-edit"></i>
              <span>编辑</span>
            </button>
            <button nz-button [nzType]="'default'" [nzGhost]="true" (click)="showConfirm(data.ProjectAutoId)">
              <i class="anticon anticon-delete"></i>
              <span>删除</span>
            </button>
          </td>
        </tr>
        </tbody>
      </nz-table>
      <div style="margin:20px 15px 15px 0;">
        <nz-pagination [nzPageIndex]="1" [nzTotal]="TotalCount" nzShowTotal="TotalCount" nzShowQuickJumper align="right" (nzPageIndexChange)="toPage($event)"></nz-pagination>
      </div>
    </div>
    <!--对话框-->
    <nz-modal [nzVisible]="isVisible" [nzTitle]="'创建/编辑项目'" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)" [nzConfirmLoading]="isConfirmLoading">
      <ng-template #modalContent>
        <table class="table-form">
          <tr>
            <td>项目ID</td>
            <td>
              <nz-input [(ngModel)]="project.ProjectId" [nzPlaceHolder]="'id'" [nzType]="'string'"></nz-input>
            </td>
          </tr>
          <tr>
            <td>项目名称</td>
            <td>
              <nz-input [(ngModel)]="project.ProjectName" [nzPlaceHolder]="'name'"></nz-input>
            </td>
          </tr>
          <tr>
            <td>模块顺序</td>
            <td>
              <nz-input [(ngModel)]="project.ModuleOrder" [nzPlaceHolder]="'order'"></nz-input>
            </td>
          </tr>
          <tr>
            <td>项目描述</td>
            <td>
              <nz-input [(ngModel)]="project.ProjectDesc" [nzType]="'textarea'" [nzRows]="'8'" [nzCols]="14" [nzPlaceHolder]="''"></nz-input>
            </td>
          </tr>
          <tr>
            <td>是否需要涂鸦</td>
            <td>
              <input type="number"  [(ngModel)]="project.IsNeedDoodled" >
             
            </td>
          </tr>
        </table>
      </ng-template>
    </nz-modal>
  </nz-content>
  <app-footer></app-footer>
</nz-layout>

