<nz-layout class="layout">
  <app-header></app-header>
  <nz-content style="padding:0 10px;">
    <nz-breadcrumb style="margin:10px 0;">
      <nz-breadcrumb-item>
        <i class="anticon anticon-bars"></i>
        <a routerLink="/home">项目列表</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item><i class="anticon anticon-bar-chart"></i>查看报告</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div style="background:#fff; padding: 14px; min-height: 500px;">
      <div style="width:100%;overflow: hidden">
        <button nz-button [nzType]="'default'" style="float:right;" onclick="history.go(-1)">
          <i class="anticon anticon-backward"></i>
          <span>返回</span>
        </button>
        <button nz-button [nzType]="'default'" style="float:right;margin-right:10px;">
          <a href="{{baseUrl}}/api/Report/DownLoadData?projectAutoId={{ProjectAutoId}}&reportType={{tabSelected+1}}">
            <i class="anticon anticon-download"></i>
            <span>下载报告</span>
          </a>
        </button>
      </div>
      <nz-tabset class="tabs report" [(nzSelectedIndex)]="tabSelected">
        <nz-tab>
          <ng-template #nzTabHeading>
            <i class="anticon anticon-smile-o"></i>
            打分/表情包报告
          </ng-template>
          <table class="table-default">
            <tr>
              <td colspan="2"></td>
              <td [attr.colspan]="(scoreReport.header.length-2)/scoreReport?.cards.length" *ngFor="let card of scoreReport?.cards">{{card}}</td>
            </tr>
            <tbody *ngFor="let group of scoreReport?.groups;let k = index">
            <tr *ngIf="k==0">
              <td *ngFor="let header of scoreReport.header">{{header}}</td>
            </tr>
            <tr *ngFor="let device of group.device; let i = index">
              <td *ngIf="i==0" attr.rowspan="{{group.device.length}}">{{group.name}}</td>
              <td>                       <nz-tooltip>
      <button nz-button nz-tooltip>{{device.deviceId}}</button>
      <ng-template #nzTemplate>
       <div *ngFor="let detail of device.details">
           {{detail.Key}}:{{detail.Value}}
           </div>
      </ng-template>
    </nz-tooltip></td>
              <td *ngFor="let angle of device.angles">{{angle}}</td>
            </tr>
            </tbody>
          </table>
        </nz-tab>
        <nz-tab>
        <ng-template #nzTabHeading>
          <i class="anticon anticon-switcher"></i>
          排序报告
        </ng-template>
        <span class="tab-item">
            <table class="table-default">
              <tbody *ngFor="let group of orderReport.groups;let k = index">
                <tr *ngIf="k==0">
                   <td *ngFor="let header of orderReport.header">{{header}}</td>
                </tr>
                <tr *ngFor="let device of group.device; let i = index">
                  <td *ngIf="i==0" attr.rowspan="{{group.device.length}}">{{group.name}}</td>
                  <td>
                       <nz-tooltip>
      <button nz-button nz-tooltip>{{device.deviceId}}</button>
      <ng-template #nzTemplate>
       <div *ngFor="let detail of device.details">
           {{detail.Key}}:{{detail.Value}}
           </div>
      </ng-template>
    </nz-tooltip>
                    </td>
                  <td *ngFor="let order of device.orders">{{order}}</td>
                </tr>
              </tbody>
            </table>
          </span>
      </nz-tab>
        <nz-tab>
          <ng-template #nzTabHeading>
            <i class="anticon anticon-appstore-o"></i>
            分堆报告
          </ng-template>
          <span class="tab-item">
            <table class="table-default">
              <tbody *ngFor="let group of classifyReport.groups;let k = index">
                <tr *ngIf="k==0">
                   <td *ngFor="let header of classifyReport.header">{{header}}</td>
                </tr>
                <tr *ngFor="let device of group.device; let i = index">
                  <td *ngIf="i==0" attr.rowspan="{{group.device.length}}">{{group.name}}</td>
                  <td>
      <nz-tooltip>
      <button nz-button nz-tooltip>{{device.deviceId}}</button>
      <ng-template #nzTemplate>
       <div *ngFor="let detail of device.details">
           {{detail.Key}}:{{detail.Value}}
           </div>
      </ng-template>
    </nz-tooltip>
                      
                      </td>
                  <td *ngFor="let dui of device.duis">{{dui}}</td>
                </tr>
              </tbody>
            </table>
          </span>
        </nz-tab>
        <nz-tab>
          <ng-template #nzTabHeading>
            <i class="anticon anticon-android-o"></i>
            涂鸦报告
          </ng-template>
          <span class="tab-item">
            <table class="table-default">
              <tbody *ngFor="let group of paintingReport.groups;let k = index">
                <tr *ngIf="k==0">
                   <td *ngFor="let header of paintingReport.header">{{header}}</td>
                </tr>
                <tr *ngFor="let painting of group.device; let i = index">
                  <td *ngIf="i==0" attr.rowspan="{{group.device.length}}">{{group.name}}</td>
                  <td>
                       <nz-tooltip>
      <button nz-button nz-tooltip>{{painting.deviceId}}</button>
      <ng-template #nzTemplate>
       <div *ngFor="let detail of painting.details">
           {{detail.Key}}:{{detail.Value}}
           </div>
      </ng-template>
    </nz-tooltip></td>
                  <td><a (click)="showModal(card)" *ngFor="let card of painting.cards">{{card.detailName}}</a></td>
                </tr>
              </tbody>
            </table>
          </span>
        </nz-tab>
      </nz-tabset>
    </div>
    <nz-modal [nzVisible]="isVisible" [nzWidth]="600" [nzTitle]="'概念卡名称：'+card?.detailName" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)">
      <ng-template #modalContent>
        <img [src]="card?.url" alt="" style="max-width:99%;">
      </ng-template>
    </nz-modal>
  </nz-content>
  <app-footer></app-footer>
</nz-layout>
