<div class="container">
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <h1>Concept-Test后台管理系统</h1>
    <div nz-form-item>
      <div nz-form-control [nzValidateStatus]="validateForm.controls.username">
        <nz-input formControlName="username" [nzPlaceHolder]="'username'" [nzSize]="'large'">
          <ng-template #prefix>
            <i class="anticon anticon-user"></i>
          </ng-template>
        </nz-input>
        <div nz-form-explain *ngIf="validateForm.controls.username.dirty&&validateForm.controls.username.hasError('required')">Please input your username!</div>
      </div>
    </div>
    <div nz-form-item>
      <div nz-form-control [nzValidateStatus]="validateForm.controls.password">
        <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'password'" [nzSize]="'large'">
          <ng-template #prefix>
            <i class="anticon anticon-lock"></i>
          </ng-template>
        </nz-input>
        <div nz-form-explain *ngIf="validateForm.controls.password.dirty&&validateForm.controls.password.hasError('required')">Please input your Password!</div>
      </div>
    </div>
    <div nz-form-item>
      <div nz-form-control>
        <label nz-checkbox formControlName="remember" style="margin-bottom:5px;">
          <span style="color: white;">Remember me</span>
        </label>
        <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'" (click)="login()" style="width:100%">Log in</button>
      </div>
    </div>
  </form>
</div>

