.container{
  width:100%;
  height:100%;
  background: url('../../../assets/imgs/bg.png') no-repeat;
  background-size: 100% 100%;
  form{
    @media screen and (min-width:711px){
      width:30%;
      padding-top:15%;
    }
    @media screen and (max-width:711px){
      width:60%;
      padding-top:30%;
    }
    height:35%;
    margin:auto;
    h1{
      text-align: center;
      color:#FFF;
      margin-bottom: 15px;
      @media screen and(max-width: 476px){
        font-size: 1.1rem;
      }
    }
  }
}

