
<nz-layout class="layout">
  <nz-content style="padding:0 10px;">
    
    <div class="upload">
      <h1>添加被访者Excel</h1>
请选择项目：
<nz-select style="width: 120px;" [(ngModel)]="selectedPjId" [nzPlaceHolder]="'请选择项目'" nzAllowClear>
  <nz-option
    *ngFor="let project of projects"
    [nzLabel]="project.prjNm"
    [nzValue]="project.id">
  </nz-option>
</nz-select>
  <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".xlsx">
</div>
  
  
  
  
  
  
  
  
  

  
 
</nz-content>

</nz-layout>