<nz-layout class="layout">
  <nz-content style="padding:0 10px;">
    <canvas width="500" height="500" id="canv"></canvas>
    
    <button (click)="toImage()">下载</button>
    <div id="container">
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">IPSOS © Concept-Test Management System</nz-footer>
</nz-layout>

    