<nz-layout class="layout">
  <app-header></app-header>
  <nz-content style="padding:0 10px;">
    <nz-breadcrumb style="margin:10px 0;">
      <nz-breadcrumb-item>
        <i class="anticon anticon-bars"></i>
        <a routerLink="/home">项目列表</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <i class="anticon anticon-credit-card"></i>
        概念卡
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <!--表格-->
    <div style="background:#fff; padding: 14px; min-height: 500px;">
      <div style="width:100%;overflow: hidden">
        <label style="color:red">每张概念卡的图片大小不超过200k,所有概念卡图片大小累计不超过10M</label>
        <button nz-button [nzType]="'default'" style="float:right" onclick="history.go(-1)">
          <i class="anticon anticon-backward"></i>
          <span>返回</span>
        </button>
        <button nz-button [nzType]="'primary'" style="float:right;margin-right:10px;" (click)="showModal(null)">
          <span>+添加概念卡</span>
        </button>
      </div>
      <nz-table #nzTable [nzDataSource]="cardList" [nzPageSize]="1000">
        <thead nz-thead>
        <tr>
          <th nz-th>
            <span>序号</span>
          </th>
          <th nz-th>
            <span>概念卡名称</span>
          </th>
          <th nz-th>
            <span>概念卡描述</span>
          </th>
          <th nz-th>
            <span>是否需要涂鸦</span>
          </th>
          <th nz-th>
            <span>上传概念卡图片</span>
          </th>
          <th nz-th>
            <span>操作</span>
          </th>
        </tr>
        </thead>
        <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let card of cardList;let i = index">
          <td nz-td>
            <a>{{card.CardOrder}}</a>
          </td>
          <td nz-td>{{card.ConceptCardName}}</td>
          <td nz-td>{{card.ConceptCardDesc}}</td>
          <td nz-td>{{card.IsNeedDoodled}}</td>
          <td nz-td>
            <img [src]="card.ImageUrl" alt="缩略图" style="max-width:55px;margin-right: 10px;display: inline-block" (click)="showModal1(card.ImageUrl)">
            {{card.FileSize}}kb
            <input type="file" placeholder="选择图片" id="fileupload{{i}}">
            <button nz-button (click)="uploadCardImg(card,$event,i)">上传</button>
          </td>
          <td nz-td class="btn-group">
            <button nz-button [nzType]="'default'" [nzGhost]="true" (click)="showModal(card)">
              <i class="anticon anticon-edit"></i>
              <span>编辑</span>
            </button>
            <button nz-button [nzType]="'default'" [nzGhost]="true" (click)="showConfirm(card)">
              <i class="anticon anticon-delete"></i>
              <span>删除</span>
            </button>
          </td>
        </tr>
        </tbody>
      </nz-table>
      <!--<div style="margin:20px 15px 15px 0;">
        <nz-pagination [nzPageIndex]="1" [nzTotal]="TotalCount" nzShowTotal="TotalCount" nzShowQuickJumper align="right" (nzPageIndexChange)="toPage($event)"></nz-pagination>
      </div>-->
    </div>
    <!---->
    <nz-modal [nzVisible]="isVisible" [nzTitle]="'添加/配置概念卡'" [nzContent]="modalContent" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzConfirmLoading]="false">
      <ng-template #modalContent>
        <table class="table-form">
          <tr>
            <td>概念卡名称</td>
            <td>
              <nz-input [(ngModel)]="card.ConceptCardName" [nzPlaceHolder]="'name'"></nz-input>
            </td>
          </tr>
          <tr>
            <td>概念卡描述</td>
            <td>
              <nz-input [(ngModel)]="card.ConceptCardDesc" [nzPlaceHolder]="'desc'"></nz-input>
            </td>
          </tr>
          <tr>
            <td>是否需要涂鸦</td>
            <td>
              {{card.IsNeedDoodled}}
              <nz-switch [(ngModel)]="card.IsNeedDoodled">
                <span checked>开</span>
                <span unchecked>关</span>
              </nz-switch>
            </td>
          </tr>
        </table>
      </ng-template>
    </nz-modal>
    <nz-modal [nzVisible]="isVisible1" [nzWidth]="600"  [nzContent]="modalContent1" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk1()">
      <ng-template #modalContent1>
        <img [src]="image" alt="" style="max-width:100%;margin-top:15px;">
      </ng-template>
    </nz-modal>
  </nz-content>
  <app-footer></app-footer>
</nz-layout>
