/* You can add global styles to this file, and also import other style files */
*
  margin: 0
  padding: 0
html,body
  width: 100%
  height: 100%
  font-size: 15px!important
tr
  th,td
    text-align: center!important

.layout
  .logo
    width: 120px
    height: 50px
    background: url('./assets/imgs/logo.png') no-repeat
    float: left
    background-size: auto 50px
  .nav-item
    li:hover
      background: #108ee9
  .btn-group
    button
      color: #000
      margin-right: 15px
      &:hover
        text-decoration: underline
  .tabs
    .tab-item
      margin: 20px

.table-form
  tr
    padding-bottom: 15px
    td:nth-child(2)
      width: 300px

  td
    min-width: 120px
    text-align: right
    margin-right: 15px
    margin-bottom: 20px


.table-default
  margin: 10px 0
  min-width: 100%
  border-collapse: collapse
  tr
    height: 35px
    &:hover
      background: #eee
    td
      border: 1px solid #ccc
      padding: 5px
      word-break: keep-all
.report
  .ant-tabs-content
    .ant-tabs-tabpane
      overflow-x: scroll
      .table-default
        overflow-x: scroll

nz-tab-body
  overflow:auto!important
.ant-pagination-item-active
  background-color:#00c2de
  border-color:#00c2de
.ant-tabs
  overflow:auto