
<nz-layout class="layout">
  <nz-content style="padding:0 10px;">
    <div class="com">

      <a class="tpl" href="/assets/template/上传被访者名单模板.xlsx">下载上传被访者名单模板</a> 
      <div class="upload">
        <h1>上传被访者Excel</h1>
        请选择项目：
        <nz-select style="width: 120px;" [(ngModel)]="selectedPjId" [nzPlaceHolder]="'请选择项目'" nzAllowClear>
          <nz-option
          *ngFor="let project of projects"
          [nzLabel]="project.prjNm"
          [nzValue]="project.id">
        </nz-option>
      </nz-select>
      <input type="file" (change)="fileChange($event,false)" placeholder="Upload file" accept=".xlsx">
    </div>
  </div>
  <div class="com">

    <a class="tpl" href="/assets/template/上传Radar链接模板.xlsx">下载上传Radar链接模板</a> 
    <div class="upload">
      <h1>上传Radar Excel</h1>
      <input type="file" (change)="fileChange($event,true)" placeholder="Upload file" accept=".xlsx">
    </div>
  </div>
  
  
  
  
  
  
  
  
  

  
 
</nz-content>

</nz-layout>