.user,.radar{
   margin:50px 10px;
}
.upload{
    padding:2em;
    border:2px solid #000;
    display: inline-block;
    margin:4em;
    width:500px;
}
.tpl{
    color:black;
    text-decoration:underline;
}