<nz-table *ngIf="_dataSet.length" #nzTable [nzDataSource]="_dataSet"  >
  <thead nz-thead>
    <tr>
      <th nz-th><span>id</span></th>
      <th nz-th><span>crtTm</span></th>
      <th nz-th><span>crtPsn</span></th>
      <th nz-th><span>udtTm</span></th>
      <th nz-th><span>delInd</span></th>
      <th nz-th><span>sampGrpId</span></th>
      <th nz-th><span>ctTp</span></th>
      <th nz-th><span>tpcId</span></th>
      <th nz-th><span>sndId</span></th>
      <th nz-th><span>rcvId</span></th>
      <th nz-th><span>msgTsCntnt</span></th>
      <th nz-th><span>msgCntnt</span></th>
      <th nz-th><span>msgTp</span></th>
      <th nz-th><span>url</span></th>
      <th nz-th><span>ExternalPjId</span></th>
    </tr>
  </thead>
  <tbody nz-tbody>
    <tr nz-tbody-tr *ngFor="let data of nzTable.data">
 
      <td nz-td>{{data.id}}</td>
      <td nz-td>{{data.crtTm}}</td>
      <td nz-td>{{data.crtPsn}}</td>
      <td nz-td>{{data.udtTm}}</td>
      <td nz-td>{{data.delInd}}</td>
      <td nz-td>{{data.sampGrpId}}</td>
      <td nz-td>{{data.ctTp}}</td>
      <td nz-td>{{data.tpcId}}</td>
      <td nz-td>{{data.sndId}}</td>
      <td nz-td>{{data.rcvId}}</td>
      <td nz-td>{{data.msgTsCntnt}}</td>
      <td nz-td>{{data.msgCntnt}}</td>
      <td nz-td>{{data.msgTp}}</td>
      <td nz-td>{{data.url}}</td>
      <td nz-td>{{data.ExternalPjId}}</td>

    </tr>
  </tbody>
</nz-table>
